* {
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul li {
  list-style: none;
}

.items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(to right, #4f4e50, #6c6c6d);
  padding: 10px;
  gap: 5px;
}

.nav-bar {
  background-color: #6c6c6d;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar p {
  color: rgb(196, 175, 175);
  font-size: 25px;
}

.nav-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.crypto-head {
  border: 1pc solid #4f4e50;
  background-color: #6c6c6d;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding: 10px;
}

.crypto-btn {
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
  padding: 5px 10px;
}

.nav-icons li {
  color: white;
}

.nav-link a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.icon-pos {
  display: flex;
  gap: 5%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-image: linear-gradient(to right, #4f4e50, #6c6c6d);
  color: white;
}

.details img {
  width: 30%;
}

.details-para {
  padding: 10px;
}

.current-price > p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  text-decoration: underline;
}

.details > p:nth-child(odd) {
  background-color: #98989c;
}

.current-price li {
  display: flex;
  gap: 20px;
  padding: 10px 40px;
  justify-content: space-between;
}

.current-price li:nth-child(odd) {
  background-color: #555558;
}

.last-update {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
}

.detail-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.items {
  border: 2px solid white;
  padding: 10px;
}

.items a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.items:hover {
  cursor: pointer;
}

.list-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.list-wrapper img {
  width: 30%;
}
